<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/crtart.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create/article">Write</a>
        </li>
       
       
      </ul>
     
      <div class="dropdown">
          <button  type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p class="dropdown-item" style="text-align: center;cursor: pointer;background-color: whitesmoke;">Hello <%= user.username %>!</p>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/stats">Stats</a>
            <a class="dropdown-item" href="/interests">Interests</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
     

    </div>
  </nav>
  <div class="container">
  <span style="display:none" id="dploc"><%= user.dp %></span>
<h2 style="font-family: 'Lobster', cursive;font-size:40px;text-align:center;">Write Article</h2>
    <form action="/write/article" method="POST" enctype="multipart/form-data">
        <input type="file" name="myimg" class="form-control" accept="Images/*" id="" onkeyup="checkfn(this)"><br>
        
        <textarea name="title" id="title" cols="100" rows="2" class="form-control autoExpand" onkeyup="checkfn(this)" data-min-rows="3"  placeholder="Title here.." required></textarea><br>
        <textarea name="short" id="short" cols="100" rows="2" class="form-control autoExpand"  onkeyup="checkfn(this)" data-min-rows="3" placeholder="Short description about the article " required></textarea>
     <textarea name="body" id="body" cols="100" rows="5" class="form-control autoExpand" onkeyup="checkfn(this)" data-min-rows="3"  placeholder="full Article here.." required></textarea><br>
  
     <button class="btn btn-success" onclick="createfn()">Create</button>


    </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/crtart.js"></script>
    
</body>
</html>