<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/stylesheets/setprofile.css">
   
</head>
<body>
    <div class="container">
    <h1>Welcome <%= user.username %> </h1>
    <h3>Take some time to fill your profile details</h3>

    
        <h2>Select Profile Picture</h2>
    <button id="avatar1" name="a1" onclick="setavt(this)"></button>
    <button id="avatar2" name="a2"  onclick="setavt(this)" ></button>
    <h2>or Upload Image</h2>

    <form action="/user/addemail" method="POST" enctype="multipart/form-data">

    <input type="file" name="dp"  id="dp">

   <input type="email" name="email" class="form-control"  id="email" placeholder="email..">
    <textarea name="about" id="about" class="form-control"  cols="100" rows="2" placeholder="describe about yourself.."></textarea>
    <button>Add to Profile</button>
</form>
    
 



</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/setprofile.js"></script>
</body>
</html>