body{
    padding-top: 70px;
}
#dropdownMenuButton{
    
    width: 40px;
    height: 40px;
    background-size:cover;
    border: 0;
    border-radius: 50%; 
}

.dropdown{
    margin:0 20px;
    margin-right: 120px;
}
#short{
    margin:20px 0px;
}

textarea{
    margin:20px 0px;
    overflow: hidden;
}