body{
    padding-top: 60px;
}
#dropdownMenuButton{
    
    width: 40px;
    height: 40px;
    background-size:cover;
    border: 0;
    border-radius: 50%; 
}

.dropdown{
    margin:0 20px;
    margin-right: 120px;
}
#tags{

    width:300px;

}

